*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    width:90%;
    max-width:700px;
}

.perfil{
    text-align:center;
    color:white;
    margin-bottom:35px;
}

.perfil h1{
    font-size:42px;
}

.perfil h2{
    color:#38bdf8;
    margin-top:8px;
    font-weight:400;
}

.perfil p{
    margin-top:10px;
    color:#cbd5e1;
}

.proyecto{
    background:white;
    padding:25px;
    border-radius:18px;
    margin-bottom:25px;
    box-shadow:0 12px 30px rgba(0,0,0,.25);
    transition:.35s;
}

.proyecto:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.35);
}

.proyecto h3{
    color:#0f172a;
    margin-bottom:12px;
}

.proyecto p{
    color:#475569;
    margin-bottom:20px;
    line-height:1.6;
}

/* HIPERVÍNCULOS */

.proyecto a{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:12px 28px;
    border-radius:40px;
    font-weight:bold;
    transition:.35s;
    position:relative;
    overflow:hidden;
}

/* Cambio de color */
.proyecto a:hover{
    background:#1d4ed8;
    transform:scale(1.08);
    box-shadow:0 0 18px #3b82f6;
}

/* Animación al hacer clic */
.proyecto a:active{
    transform:scale(.95);
}

/* Brillo deslizante */
.proyecto a::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.6),
        transparent
    );
    transition:.6s;
}

.proyecto a:hover::before{
    left:100%;
}